table {
    margin: 45px auto;
    width: 45vw;
    height: auto;
    background-color: rgba(148, 205, 240, 0.708);
}

th, td {
    padding: 15px;
}

table th {
    height: 100px;
    vertical-align: middle;
    background-color: rgba(22, 155, 238, 0.913);
    color: white;
}

table td {
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: rgba(146, 203, 238, 0.44);
}

tr:hover {
    background-color: rgba(54, 166, 236, 0.639);
}

td:hover {
    cursor: pointer;
}

.container h2 {
    margin: 35px 0px;
}

.button {
    display: flex;}

.button button{
    justify-content: space-between;
    font-size: large;
    width: 150px;
    margin: 35px 10%;
    height: auto;
    padding: 0.7em 1.7em;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #00d1b2;
    text-align: center;
    cursor: pointer;
}

article p, ul {
    font-size: large;
}

.history {
    display: inline-block;
    margin: 35px 10%;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.minutes {
    display: inline-block;
    margin: 40px;
    width: 500px;
    background-color: rgba(172, 210, 235, 0.913);
    vertical-align: top;
    position: relative;
    top: -5px;
}

.minutes .text {
    max-width: 500px;
    height: 415px;
    padding: 10px;
    margin: 30px
}

.blue-even {
    padding: 10px 0;
    background-color: rgba(125, 194, 236, 0.605);
}

.blue-odd {
    padding: 10px 0;
    background-color: rgba(86, 178, 235, 0.616);
}

.main-form {
    display: flex;
    background-color: rgba(125, 194, 236, 0.605);
    width: 100%;
    max-width: 650px;
    margin: 100px auto;
    border-radius: 10px
}

.text {
    margin-left: auto;
    margin-right: auto;
}

.text h1 {
    font-size: 30px; 
}

.text h2 {
    font-size: 20px; 
    margin: 10px 0;
}

.content {
    margin: 20px;
}

.content label {
    margin: 10px; 
}

.content input {
    padding: 5px;
    margin: auto 10px;
}

.timer {
    text-align: center;
    margin: 100px auto;
    border: 1px solid;
}

.timer h2 {
    font-size: 30px; 
}

.timer h2 {
    font-size: 20px; 
}

.scroll {
    margin: 0 0 5px 5px;
    padding: 10px;
    font-size: 1rem
}
