table {
    margin: 45px auto;
    width: 60vw;
    height: auto;
    background-color: rgba(148, 205, 240, 0.708);
}

th, td {
    padding: 15px;
}

table th {
    height: 100px;
    vertical-align: middle;
    background-color: rgba(22, 155, 238, 0.913);
    color: white;
}

table td {
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: rgba(146, 203, 238, 0.44);
}

tr:hover {
    background-color: rgba(54, 166, 236, 0.639);
}

td:hover {
    cursor: pointer;
}

.container h2 {
    margin: 35px 0px;
}